<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1">
	<title>109年僑務新聞志工線上遠距研習班</title>
	<link rel="stylesheet" href="css/main-style.css">
	<link rel="stylesheet" href="css/style_tw.css">
	<link rel="shortcut icon" href="favicon.ico">

	<!--[if IE]>
	<script>
		document.createElement("header");
		document.createElement("menu");
		document.createElement("nav");
		document.createElement("section");
		document.createElement("article");
		document.createElement("aside");
		document.createElement("figure");
		document.createElement("hgroup");
		document.createElement("footer");
		document.createElement("address");
	</script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- JQuery核心 JS -->
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
</head>

<body>
	<section id="wrap">
		<!-- ** Header **-->
		<header class="hd clearfix">
			<h2 class="title l">
				<a href="index.html" class="logo">
					<img src="images/header/logo.png" alt="中華民國僑務委員會" title="中華民國僑務委員會">
				</a>
			</h2>

			<div class="mb-login r">
				<p>您好，<em>abc123</em></p>
				<button class="i-txt">登出</button>
			</div>
		</header>

		<!-- ** Content ** -->
		<section id="content">
			<div class="inbox">
				<div class="videobox">
					<h2 class="title">從零到專業－成為影片製作師的教學手冊</h2>
					<div class="yt-area">
						<iframe src="https://www.youtube.com/embed/kb0whVogBkI" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
							allowfullscreen></iframe>
					</div>

					<div class="nb-wrapper ulli clearfix">
						<ul>
							<li>
								<div class="nbbox nbbox01">
									<i class="far fa-clock"></i>
									<div class="nb">
										<p>上課時段</p>
										<em>2020.11.23 09:00-10:00</em>
									</div>
								</div>
							</li>
							<li>
								<div class="nbbox">
									<i class="fas fa-film"></i>
									<div class="nb">
										<p>影片長度</p>
										<em>02:00:00</em>
									</div>
								</div>
							</li>
							<li>
								<div class="nbbox">
									<i class="far fa-eye"></i>
									<div class="nb">
										<p>觀看次數</p>
										<em>230</em><b>次</b>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>

				<div class="introbox">
					<h2 class="title">課程介紹</h2>
					<section class="Txt">
						<p>學會製作影片的完整程序和技術，包括器材選擇、器材操作、鏡頭語言、構圖方式、運鏡手法、燈光設計
							、色調運用、後期剪輯、調色工序，並了解如何以製作影片為工作。</p>
					</section>
				</div>

				<div class="btn-wrapper">
					<button class="btn04"><i class="far fa-hand-point-left"></i>返回上一頁</button>
				</div>

			</div>
		</section>

		<!-- ** Footer ** -->
		<footer class="ft clearfix">
			<div class="ft-cont">
				<p>Add:100007臺北市中正區館前路8號4樓</p>
				<p>Tel:02-7726-6667 / 02-7726-6766</p>
				<P>E-mail:service@readerplace.com.tw</P>
			</div>
		</footer>
	</section>


	<!-- Plugin CSS -->
	<link rel="stylesheet" href="js/fontawesome/css/all.min.css">
	<!-- Plugin JS -->
	<script src="js/pager/jquery.twbsPagination.min.js"></script>
	<script src="js/other.js"></script>
</body>

</html>