<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1">
	<title>109年僑務新聞志工線上遠距研習班</title>
	<link rel="stylesheet" href="css/main-style.css">
	<link rel="stylesheet" href="css/style_tw.css">
	<link rel="shortcut icon" href="favicon.ico">

	<!--[if IE]>
	<script>
		document.createElement("header");
		document.createElement("menu");
		document.createElement("nav");
		document.createElement("section");
		document.createElement("article");
		document.createElement("aside");
		document.createElement("figure");
		document.createElement("hgroup");
		document.createElement("footer");
		document.createElement("address");
	</script>
	<![endif]-->

	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- JQuery核心 JS -->
	<script src="js/jquery-3.5.1.min.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
</head>

<body>
	<section id="wrap">
		<!-- ** Header **-->
		<header class="hd clearfix">
			<h2 class="title l">
				<a href="index.html" class="logo">
					<img src="images/header/logo.png" alt="中華民國僑務委員會" title="中華民國僑務委員會">
				</a>
			</h2>

			<div class="mb-login r">
				<p>您好，<em>abc123</em></p>
				<button class="i-txt">登出</button>
			</div>
		</header>

		<!-- ** Content ** -->
		<section id="content">
			<div class="tbn">
					<img src="images/content/tbn.jpg" alt="中華民國僑務委員會">
			</div>
			<div class="inbox">
				<div class="bar clearfix">
					<div class="btn-wrapper l">
						<a href="videolist.html" class="btn"><span></span>同步課程</a>
						<a href="videolist_none.html" class="btn btn01"><span></span>非同步課程</a>
					</div>
					<div class="select-wrapper r">
						<select>
							<option>排序</option>
							<option>上傳日期</option>
							<option>觀看次數</option>
						</select>
					</div>
				</div>

				<div class="ulli videolist clearfix">
					<ul>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603166575467.png" alt="學會靶心人公式，三分鐘說18萬個故事—許榮哲故事課"
										title="學會靶心人公式，三分鐘說18萬個故事—許榮哲故事課">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">學會靶心人公式，三分鐘說18萬個故事—許榮哲故事課</h2>
									<span></span>
									<p>三分鐘隨時隨地說故事。人際互動上，故事產生溝通力；
										個人品牌上，故事打造影響力、說服力；
										商業運營上，故事產生行銷力；
										故事可以進一步成為小說、劇本、電影的創作素材。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603173105659.png" alt="三小時學會拆解社會現象與新聞議題！"
										title="三小時學會拆解社會現象與新聞議題！">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">三小時學會拆解社會現象與新聞議題！</h2>
									<span></span>
									<p>對新聞事件與社會議題能快速判斷各方論點是否健全，看出誰是亂虎爛的假貨。當然，
										最重要的是能有效表述自身的評論意見。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603173113450.png" alt="藝用解剖學 2 - 凝望透視之眼 360 度全視野攻略"
										title="藝用解剖學 2 - 凝望透視之眼 360 度全視野攻略">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">藝用解剖學 2 - 凝望透視之眼 360 度全視野攻略</h2>
									<span></span>
									<p>掌握課程內容，能具備描繪全視角眼睛的能力。
										同時，教學方式有明確的步驟和比例數據，以理性左腦的思維方式展開，不強調藝術家神來一筆的手感直覺，
										相信能讓修課同學以不同的角度認識繪畫、進而替自己擬定新的、有效的學畫計畫。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603173083169.png" alt="用影像收藏人生：學會拍片，認識自己"
										title="用影像收藏人生：學會拍片，認識自己">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">用影像收藏人生：學會拍片，認識自己</h2>
									<span></span>
									<p>帶你從最基礎的攝影課程到學會運用影像表達想法、培養美感，
										1.了解一支片所需要的起承轉合、說故事的方法。
										2. 了解自己最需要的拍攝器材，並學會各種運鏡手法。
										3. 認識基礎的軟體剪輯，學會操作以及了解節奏感的使用方式。
										4. 擁有解析他人作品的能力，並從中學習，藉此更加認識自我喜好。
										5. 從無到有的組織規劃能力，創作出完整且具有個人特色的影像作品。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603174639156.png" alt="批判到創新：不是研究生也能學的研究方法"
										title="批判到創新：不是研究生也能學的研究方法">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">批判到創新：不是研究生也能學的研究方法</h2>
									<span></span>
									<p>1.　了解研究方法於日常生活中的應用，學會篩選、分析、評比、彙整和活用文獻與網路資訊。
										2.　學會應用「問題／方法／應用場合特性」對照表，分析既有方法或產品的利弊。
										3.　透過以上兩點，多加練習、實作，培養專業級的批判性思考，找到突破與創新機會。
										4.　了解研究所在學什麼，掌握研究方法的核心精神與要領。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603173073127.png" alt="一課思考學：你需要知道的一切，都在這一課"
										title="一課思考學：你需要知道的一切，都在這一課">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">一課思考學：你需要知道的一切，都在這一課</h2>
									<span></span>
									<p>1. 學會時下人才最看重的 5 大思考力，提高個人實力的天花板。
										2. 學會實用的思考技巧，從而更自主、更懂人心、更能勝任所做之事。
										3. 了解聰明人的思維痕跡，得到擅於思考的高手煉成方案。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603173098168.png" alt="動畫背後邏輯與創意－臺灣吧知識轉譯力"
										title="動畫背後邏輯與創意－臺灣吧知識轉譯力">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">動畫背後邏輯與創意－臺灣吧知識轉譯力</h2>
									<span></span>
									<p>- 學會讀懂眼花撩亂的資料、整理歸納出其中脈絡、戳破似是而非的論點
										- 將龐雜的資訊轉化為易讀的摘要
										- 有邏輯地架構內容文本，陳述自己的觀點
										- 創意手法包裝，將嚴肅題材轉化為活潑的影片腳本
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603173091328.png" alt="大小數據如何協助影視創作" title="大小數據如何協助影視創作">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">大小數據如何協助影視創作</h2>
									<span></span>
									<p>隨著數據時代的來臨，台灣影視產業面臨數據人才的短缺，直至近年台灣電影票房才有完整統計。而在電影產製階段，
										我們應能加入更多數據收集，累積這個產業對市場上不同族群觀眾的了解，有系統地形成這個市場的知識庫。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603174667485.png" alt="翻轉文字：給孩子好玩的創意寫作課！"
										title="翻轉文字：給孩子好玩的創意寫作課！">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">翻轉文字：給孩子好玩的創意寫作課！</h2>
									<span></span>
									<p>文字是人類文明不可或缺的發明，我們透過文字表達及溝通，然而隨著時代科技的進步，傳遞訊息越來越便利，
										學生的閱讀及書寫能力卻逐漸下降，對於作文、週記作業等更是心生恐懼，家長為此頭疼不已。
										對寫作充滿熱忱的我，長時間投入寫作教育事業，看著孩子對作文百般抗拒，思索著：如何讓學生「愛上寫作」？
										如何讓家長居家也能簡易指導孩子寫作？
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603174675042.png" alt="職場寫作課：從個人品牌到自媒體"
										title="職場寫作課：從個人品牌到自媒體">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">職場寫作課：從個人品牌到自媒體</h2>
									<span></span>
									<p>鋒哥 2008 年開始寫部落格，透過寫作而獲得了工作機會，也受邀在各大媒體撰寫專欄，甚至後來有機會出版書籍、開課教學，「
										寫作可以讓職場上的貴人找到你」可說是我自己的親身經歷。
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603174681850.png" alt="從零到專業-成為影片製作師的教學手冊"
										title="從零到專業-成為影片製作師的教學手冊">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">從零到專業-成為影片製作師的教學手冊</h2>
									<span></span>
									<p>想以拍片為工作？想把拍攝技巧提升到另一個層次？
										無論想自己接案子或是當 Youtuber，是新手或是有一定的基礎，這個課程都適合你！
										由器材，技巧，創作，後製，工作等角度出發，以精簡有序而完整的課程指導你成為一個專業的影片製作師！
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="videopage.html" class="v-wrapper">
								<div class="vt">
									<img src="images/content/1603174908625.png" alt="口譯員浩爾的打獵式聆聽＆資訊處理術"
										title="口譯員浩爾的打獵式聆聽＆資訊處理術">
									<span><i class="fas fa-film"></i>02:00:00</span>
								</div>
								<div class="vb">
									<h2 class="title">口譯員浩爾的打獵式聆聽＆資訊處理術</h2>
									<span></span>
									<p>打獵式聆聽，其實指的是口譯練習中時常提及的 active listening，我們通常翻為「積極聆聽」，但是這個用法時常跟諮商輔導領域的積極聆聽搞混，
										所以我習慣使用「打獵式聆聽」來說明。
										口譯練習中的「積極聆聽」或我所說的「打獵式聆聽」，指的是一種「帶著預期」的聆聽
									</p>
									<div class="time">
										<b><i class="far fa-clock"></i>上課時段</b>
										<em>2020-11-03 10:00~12:00</em>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>

				<div class="pagerlist">
					<ul class="ulli clearfix"></ul>
				</div>
				<script>
					$(function () {
						var obj = $('.pagerlist ul').twbsPagination({
							totalPages: 12,
							visiblePages: 5,
							onPageClick: function (event, page) {
								console.info(page);
							}
						});
					});
				</script>
			</div>
		</section>

		<!-- ** Footer ** -->
		<footer class="ft clearfix">
			<div class="ft-cont">
				<p>Add:100007臺北市中正區館前路8號4樓</p>
				<p>Tel:02-7726-6667 / 02-7726-6766</p>
				<P>E-mail:service@readerplace.com.tw</P>
			</div>
		</footer>
	</section>


	<!-- Plugin CSS -->
	<link rel="stylesheet" href="js/fontawesome/css/all.min.css">
	<!-- Plugin JS -->
	<script src="js/pager/jquery.twbsPagination.min.js"></script>
	<script src="js/other.js"></script>
</body>

</html>